<table>
    <tr>
        <td><img src="{{site.baseurl}}//images/logo.png" height="60" title="Frontend" alt=""></td>
        <td><a href="{{site.baseurl}}/index">Course</a></td>
        <td><a href="{{site.baseurl}}/techtalk/home_style">CalcStyle</a></td>
        <td><a href="{{site.baseurl}}/frontend/home_table">MusicAPI</a></td>
        <td><a href="{{site.baseurl}}/frontend/home_motion">Animation</a></td>
        <td><a href="{{site.baseurl}}/devops/cloud_database">Users</a></td>
    </tr>
</table>